@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-pause {
    animation-play-state: paused;
  }
}

:root {
  --yellow-pisangambon-500: 255 207 16;

  --black-mamba-400: 53 61 61;
  --black-mamba-500: 2 12 13;

  --crema-cream-500: 255 244 218;

  --green-nyai-500: 0 122 120;
  --green-nyai-700: 0 87 85;
  --green-nyai-800: 0 67 66;

  --blue-clair-700: 33 79 165;
  --blue-clair-800: 26 61 128;
  --blue-clair-900: 20 47 97;

  --oranje-600: 174 77 21;
  --oranje-900: 80 36 10;

  --dan-brown-500: 115 66 48;
  --dan-brown-900: 48 28 20;

  --purple-widow-900: 64 34 88;

  --red-cabe-400: 229 105 70;

  --page-background: var(--black-mamba-400);

  --navbar-height-desktop: 15vh;
  --navbar-height-mobile: 10vh;
  --navbar-height-mobile-content: 90vh;
}

:root[class~="dark"] {
}

body {
  color: rgb(var(--crema-cream-500));
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
